body{
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  font-family:"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  animation:;
}

header{
  height:60px;
  background-color:#454343;
  width:auto;
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  color:white;
  font-size:30px;
  padding-top:20px;
  padding-left:20px;
  display:flex;
  flex:1;
}

.content .title .titletext{
  position: absolute;
  top:12%;
  left:10px;
  font-size:50px;
  color:white;
}

.about{
  background-color:#eeeeee;
  height:500px;
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
}

a{
  color:white;
}

.news{
  height:500px;
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  background-color:black;
  width:100%;
  height:auto;
  text-align:center;
}

.bottom{
  width:auto;
  height:200px;
  background-color:#454343;
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-right:0px;
  padding-left:0px;
  padding-bottom:0px;
  color:white;
}
